

.led-pixel {
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 2px;
}

.grid-container {
  width: 80vw;
  height: 50vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-content: center;
}
